.flex {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom:20px;
}
/*all boxes in portfolio section*/
.piece {
    border: 6px solid blue;
    width:100%;
    height: 200px;
    background-color: lightgrey;
}
/*Larger box in portfolio section*/
.first-piece {
    border: 8px solid blue;
    height: 300px;
}

header {
    background-color: lightyellow;
    padding: 25px;
    display: flex;
    border-style: solid;
   align-items: center;
  }

  h1 {
    font-size: 55px;
    color: black;
    font-family:sans-serif;
    margin-right: 20px;
  }

  nav {
    margin-left: auto;
  }

  nav ul {
    list-style: none;
    display: flex;
    margin:0%;
    padding:0%;
  }

  nav li {
    margin-right: 12px;
    padding-right: 12px;
  }

  nav a {
    text-decoration: none;
    color: blue;
    font-family: arial;
    font-size: 25px;
    font-style: italic;
  }

  h2{
    text-align: center;
    color: red

  }

  /* Example: Lets say all sections have class "section" and you want them to have padding
  But you want a particular section to have bigger text */
  
    .section {
        padding: 20px;
    }
    #about-me {
        font-size: 175%;
        font-style: italic;
        background-color:lightgoldenrodyellow ;
        text-indent: 50px; 
        border: 2px solid black;
    } 
    
    #portfolio {
        background-color: lightgoldenrodyellow;
        border: 2px solid black;
    }
  


/* Contact section */

  .contact-section {
    background-color: beige;
    padding: 20px;
    border: 5px solid black;

  }
  
  .contact-section h2 {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    background-color: beige;
  }
  
  .contact-section form {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 50%;
  }
  
  .contact-section input,
  .contact-section textarea {
    margin-bottom: 10px;
    margin-top: 1px;
    width: 100%;
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
    box-sizing: border-box;
  }
  
  .contact-section button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .contact-section button:hover {
    background-color: #555;
  }



/* Large devices (laptops/desktops, 992px and up) */
/* Equal or greater than */
/* If screen width is 992px wide or longer, then apply these css */
@media only screen and (min-width: 992px) {
    body {
        /* background-color: green; */
      }
    .contact-section button:hover {
    /* background-color: lightgreen; */
    }
}

/* Smaller than (laptops/desktops, 991px and down) */
/* Equal or less than */
/* If screen width is 991px wide or shorter, then apply these css */
@media only screen and (max-width: 991px) {
    body {
        /* background-color: red; */
      }
      .contact-section button:hover {
      /* background-color: rgb(255,0,0); */
      }
  }
