.flex {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 20px;
}

/* All boxes in the portfolio section */
.piece {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    border: 6px solid blue;
    width: 20%;
    /* Adjust the height to auto or remove it to let the content determine the height */
    height: auto; 
    background-color: lightgrey;
    justify-content: space-between;
    display: inline-block;
    padding: 45px;
    margin: 45px;
}

.piece-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Adjusted to 100% for responsiveness */
    height: auto; /* Allow the height to adjust based on the image content */
    margin: 10px;
}

/* Larger box in the portfolio section */
.first-piece {
    background-color: rgb(192, 205, 242);
    border: 8px solid blue;
    height: 300px;
    width: 300px;
    font-weight: bolder;
    color: red;
    font-size: 40px;
    display: flex;
    align-items: center;
}

.first-piece a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.first-piece img {
    max-width: 100%;
    max-height: 100%;
}



header {
    background-color: lightyellow;
    padding: 25px;
    display: flex;
    border: 5px solid black;
    align-items: center;
}

h1 {
    font-size: 55px;
    color: blue;
    font-family: sans-serif;
    margin-right: 20px;
}

.image-container {
    display: block;
    margin: 5px 0;
    border: 10px solid black;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0%;
    padding: 0%;
}

nav li {
    margin-right: 12px;
    padding-right: 12px;
}

nav a {
    text-decoration: none;
    color: blue;
    font-family: arial;
    font-size: 25px;
    font-style: italic;
}

h2 {
    text-align: center;
    color: red
}

/* Distinguishes between sections and gives the ABOUT ME section a bigger font */
/*Allows me to style the section individually */

.section {
    padding: 20px;
}

#about-me {
    font-size: 175%;
    font-style: italic;
    background-color: lightgoldenrodyellow;
    text-indent: 50px;
    border: 2px solid black;
}

#portfolio {
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
}

#contact-me h2 {
    font-weight: bold;
    font-family: Arial;
    font-size: 32px;
    margin-right: 80px;
    color: blue;
}

#contact-me {
    display: flex;
    align-items: center;
    justify-content: center
}



/* Contact section */

.contact-section {
    background-color: beige;
    padding: 20px;
    border: 5px solid black;
}

.contact-section h2 {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
    background-color: beige;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 50%;
}

.contact-section input,
.contact-section textarea {
    margin-bottom: 10px;
    margin-top: 1px;
    width: 100%;
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
    box-sizing: border-box;
}

.contact-section button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact-section button:hover {
    background-color: #555;
}

footer {
    background-color: grey;
    color: #fff;
    padding: 20px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.footer-icon {
    width: 60px;
    height: 70px;
    margin-right: 10px;
}


/* Adjust the min-width for bigger screens */
@media only screen and (min-width: 992px) {
    body {
        background-color: darkkhaki;
    }

    .contact-section button:hover {
        background-color: darkkhaki;
    }
}

/* Adjust the max-width for smaller screens */
@media only screen and (max-width: 991px) {
    body {
        background-color: rgba(0, 145, 255, 0.776);
    }

    .contact-section button:hover {
        background-color: rgba(0, 145, 255, 0.776);
    }
}